<!-- Sidebar -->
<header id="header">
  <nav>
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/home">Accueil</a></li>
      <li routerLinkActive="active"><a *ngIf="authService.isloggedIn" routerLink="/favori">Mes favoris</a></li>
      <li routerLinkActive="active"><a>{{authService.loggedUser}}</a></li>
      <li routerLinkActive="active"> <a *ngIf="!authService.isloggedIn" class="dropdown-item" routerLink="/login">connexion</a></li>
      <li routerLinkActive="active"> <a *ngIf="authService.isloggedIn" class="dropdown-item" (click)="authService.logOut()">déconnexion</a></li>
    </ul>
  </nav>
</header>
