<!-- Form -->
<div id="main" class="login-block">
  <div class="inner">
    <section class ="login-content-block">
      <h2>Binevenue sur Bingewatch !</h2>
      <p class="align-center">Connecte toi pour accéder à ton espace</p>
      <div *ngIf="erreur==1" class="alert alert-danger" >
        <p class="align-center"><strong>Login ou mot de passe incorrect</strong></p>
      </div>
      <form method="post" action="#">
        <div class="row gtr-uniform justify-content-md-center">
          <div class="col-12">
            <input
              type="email"
              name="demo-email"
              id="demo-email"
              value=""
              required
              [(ngModel)]="user.email"
              placeholder="Email" />
          </div>
          <div class="col-12">
            <input
              type="password"
              name="demo-password"
              id="demo-password"
              value=""
              required
              [(ngModel)]="user.password"
              placeholder="Mot de passe" />
          </div>
          <div class="col-12 login-block-button">
            <button (click)="onLoggedin()">Connexion</button>
          </div>
        </div>
      </form>
      <p class="align-center">Par encore de compte ? <a routerLink="/register">Créer un compte</a></p>
    </section>
  </div>
</div>

