
<div *ngIf="TVShow"></div>
<div id="main">
  <div class="inner tvshow-block">
    <span class=" main">
      <img  class="tvshow-visual" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{TVShow.poster_path}}" alt="">
    </span>
    <div class="tvshow-content">
      <h1>{{TVShow.name}}</h1>
      <p>{{TVShow.overview}}</p>
      <p>Date de sortie : {{TVShow.first_air_date | date : 'shortDate'}}</p>
      <div *ngIf="authService.isloggedIn">
        <button (click)="addNewFavori(TVShow)" class="">Ajouter aux favoris</button>
      </div>

    </div>
  </div>
</div>
