<!-- Wrapper -->
<div id="main">
  <div class="inner">
    <header>
      <h1><a href="index.html"><strong>Bingewatch</strong></a></h1>
      <h2>Bienvenue sur ton bingewatch {{authService.loggedUser}} !</h2>
      <p>Retrouve ici toute tes séries préférées ! Met les dans tes favoris,
        lance le bingewatch et découvre ce que tu vas regarder aujourd'hui !</p>
    </header>
    <section class="tiles">
      <article class="style2" *ngFor="let TVShow of tvshows">
        <a  class="image" routerLink="/tvshow/{{TVShow.id}}">
          <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{TVShow.poster_path}}"
            alt="">
        </a>
        <a routerLink="/tvshow/{{TVShow.id}}">
          <h2>{{TVShow.name}}</h2>
          <div class="content">
            <button class="btn btn-success favori">Lire la suite</button>
          </div>
        </a>
      </article>
    </section>
  </div>
</div>
