<div id="main" class="login-block">
  <div class="inner">
    <section class ="login-content-block">
      <h2>Créer ton compte maintenant !</h2>
      <p class="align-center">Pour pouvoir profiter de ton application</p>
      <form method="post" action="#">
        <div class="row gtr-uniform justify-content-md-center">
          <div class="col-12">
            <input
              type="text"
              name="demo-name"
              id="demo-name"
              value=""
              required
              [(ngModel)]="user.name"
              placeholder="Pseudo" />
          </div>
          <div class="col-12">
            <input
              type="text"
              name="demo-email"
              id="demo-email"
              value=""
              required
              [(ngModel)]="user.email"
              placeholder="Email" />
          </div>
          <div class="col-12">
            <input
              type="password"
              name="demo-password"
              id="demo-password"
              value=""
              required
              [(ngModel)]="user.password"
              placeholder="Mot de passe" />
          </div>
          <!-- <div class="col-6 col-12-small">
            <input type="checkbox" id="demo-human" name="demo-human" checked>
            <label for="demo-human">Not a robot</label>
          </div> -->
          <div class="col-12 login-block-button">
            <button (click)="createUser()">Créer mon compte</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
