.login-block {
  background-image: url("../../assets/images/login-visual.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-content-block {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 50px 150px 50px 150px;
}

.login-content-block h2 {
  font-size: 17px;
}

.login-block-button {
  display: flex;
  justify-content: space-around;
}

#main {
  padding: 50px 250px 50px 250px;
}
