<div id="main">
  <div class="inner">
    <header>
      <h1><a href="index.html"><strong>Bingewatch</strong></a></h1>
      <h2>Retrouve ici tout tes favoris !</h2>
      <p>Tu ne sais pas quoi regarder ce soir ? Facile lance ton bingewatch !</p>
      <button (click)="bingewatch()">Lancer le bingewatch</button>
      <h2 class="result align-center" *ngIf="submitted">Aujourd'hui on regarde {{result}} !</h2>
    </header>
    <section class="tiles">
      <article class="style4" *ngFor="let Request of _request">
        <a  class="image" routerLink="/favoris/{{Request.id}}">
          <img
            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{Request.poster_path}}"
            alt="">
        </a>
        <a routerLink="/favoris/{{Request.id}}">
          <h2>{{Request.name}}</h2>
          <div class="content">
            <p>{{Request.overview}}</p>
            <button  class="btn btn-success favori">Supprimer</button>
          </div>
        </a>
      </article>
    </section>
  </div>
</div>



